<html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<head>
<title>首页</title>
</head>

<body>
	<a href = "add">写博客</a>
	<p></p>
	<table cellpadding="0" cellpadding="0" width="100%" border = "1">
	<tr>
		<td>编号</td>
		<td>标题</td>
		<td>作者</td>
		<td>发布时间</td>
		<td>操作</td>
	</tr>
	{% for blog in blogs %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href = "show?title={{ blog.title }}">{{ blog.title }}</a></td>
		<td>{{ blog.author }}</td>
		<td>{{ blog.post_date | date:"Y-m-d H:i:s"}}</td>
		<td><a href = "modify?title={{ blog.title }}">修改</a>&nbsp<a href="delete?title={{ blog.title }}">删除</a></td>
	</tr>
	{% empty%}
		<tr><td colspan = '5'>暂无博客，去写<a href = 'add'>博客</a></td></tr>
	{% endfor %}
	</table>			
</body>
</html>
